body {
  font-family: "Roboto, Arial";
  a {
    color: rgb(0, 110, 255);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.flex {
  display: flex;
}
.full-width {
  width: 100%;
}

.main-menu {
  > * {
    flex-grow: round($number: 2);
  }
  .right {
    float: right;
  }
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

form {
  font-size: 1.1em;
  .field {
    display: block;
    margin-bottom: 0.5em;
    label {
      display: block;
      color: #c0c0c0;
      font-weight: 500;
      margin-bottom: 2px;
    }
  }
}
.error {
  color: rgb(230, 3, 3);
}
.has-error {
  .MuiInputBase-root {
    background: #680000;
  }
}
